.footer {
  background-color: #1b1a1afd;
  padding: 2rem 0;
  text-align: center;
  color: #e5e5e5;
  border-top: 1px solid #444;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.socials {
  margin-bottom: 1rem;
}

.icon {
  font-size: 1.8rem;
  color: #e0d61e;
  margin: 0 0.5rem;
  transition: color 0.3s, transform 0.3s;
}

.icon:hover {
  color: #fff;
  transform: scale(1.2);
}

.text {
  font-size: 0.9rem;
  color: #bbb;
}
